body {
  margin: 0;
  color: $text;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: $text;
  text-decoration: none;
  cursor: pointer;
}

input {
  padding: 10px 4px;
  font-size: 14px;
  color: $text;
  border: 1px solid $border;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
}

input:focus {
  border: 1px solid $green;
}

textarea {
  color: $text;
  border: none;
  outline: none;
  resize: none;
}

.wrapper {
  width: 75%;
  margin: auto;
}
