.btn-outline {
  display: table;
  padding: 6px 16px;
  color: #03a87c;
  border: 1px solid #03a87c;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    color: #03a87c63;
    border: 1px solid #03a87c63;
    cursor: wait;
  }
}