.btn-outline {
  display: table;
  padding: 6px 16px;
  color: $green;
  border: 1px solid $green;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    color: $green-disabled;
    border: 1px solid $green-disabled;
    cursor: wait;
  }
}

.btn-outline-small {
  @extend .btn-outline;
  padding: 0 8px;
  line-height: 23px;
}

.btn-outline-small.solid {
  @extend .btn-outline-small;
  color: white;
  background-color: $green;
}